/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/*========== Colors ==========*/
$primary-color: #41228e;
$secondary-color: #7b3b8c;
$tertiary-color: #a94caf;
$quaternary-color: #f54ea2;

/*========== Font and typography ==========*/
$body-font: 'Fredoka One', cursive;

$biggest-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;
$font-black: 900;

/*========== Margenes Bottom ==========*/
$mb-0-25: 0.25rem;
$mb-0-5: 0.5rem;
$mb-0-75: 0.75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
